.row.resources {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}

.row.resources::before {
    display: none;
}

.row.resources .resource {
    /* flex: 1 0 31%; */
    margin: 5px;
    /* height: 100px; */
    background-color: #D9DADA;
    color: #000;
}

.row.resources p {
    padding-bottom: 0;
}

.resource .resource-main {
    background-color: #D9DADA;
    padding: 20px;
}

.resource .resource-footer {
    display: flex;
    justify-content: space-between
}

.resource .resource-title,
.resource p.resource-price {
    font-weight: bold;
}

.resource .resource-header img {
    width: 100%;
}